@import '../common/constants';
.add-post-container {

    padding: 0 50px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;

    .upload-img-container {
        min-height: 500px;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        border: 1px solid $very-light-gray;
        border-radius: 3px;
        background-color: $very-light-gray;
    }

    .post-title-container {
        position: relative;
        textarea {
            resize: none;
            width: 100%;
            border: 1px solid $very-light-gray;
            height: 100px;
            padding: 10px;
        }
        .title-counter {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: $light-blue;
            color: white;
            padding: 2px 8px;
            font-size: 10px;
            border-radius: 10px;
        }
    }

    .save-post {
        justify-self: end;
    }
}