@import '../common/constants';
.post-page-container {
  min-height: 300px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "img content";

  & > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .post-details-container {
    border: 1px solid $very-light-gray;
    overflow: auto;
    border-radius: 0 3px 3px 0;
    background-color: white;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "content";

    .post-header {
      border-bottom: 1px solid $very-light-gray;
      padding: 20px;
    }

    .comments-container {
      position: absolute;
      top: 78px;
      bottom: 0;
      overflow-y: scroll;
      padding: 0;
      border-bottom: 1px solid $very-light-gray;
      .list {
        margin-bottom: 80px;
      }
    }

    .post-controls {
      position: sticky;
      bottom: 31px;
      background-color: white;
    }

    .add-comment {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: white;
    }

  }

}