@import '../common/constants';
.post-page-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "img content";

  & > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .post-details-container {
    border: 1px solid $very-light-gray;
    overflow: auto;
    border-radius: 0 3px 3px 0;
    background-color: white;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto auto;
    grid-template-areas:
        "header"
        "comments"
        "actions"
        "add_comment";

    .post-header {
      border-bottom: 1px solid $very-light-gray;
      padding: 20px;
    }

    .comments-container {
      max-height: 334px;
      overflow-y: scroll;
      border-bottom: 1px solid $very-light-gray;
    }

  }

}