@import '../common/constants';

.notifications-arrow {
    position: absolute;
    top: 27px;
    border: 1px solid $very-light-gray;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    left: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.0975);
    box-shadow: 0 0 5px rgba(0,0,0,.0975);
}

.notifications-arrow-cover {
    position: absolute;
    top: 29px;
    background-color: white;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    left: 3px;
    z-index: 30;
}

.notifications-overlay {
    position: absolute;
    top: 35px;
    min-height: 100px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid $very-light-gray;
    border-radius: 3px;
    margin-left: -450px;
    width: 500px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.0975);
    box-shadow: 0 0 5px rgba(0,0,0,.0975);

    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: auto;
}

.notification-item {
    z-index: 40;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 15px;
    &:hover {
        background-color: $very-light-gray;
        cursor: pointer;
    }
    
    .user-sm {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    .round {
        border-radius: 50%;
    }

    .post-thumb {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .description {
        margin: 0 10px;
        span {
            display: inline-block;
            margin: 0 2px;
        }
        .content {
            font-size: 14px;
        }

        .time {
            font-size: 12px;
            color: $light-gray;
        }
    }
}

.notification-sheet {
  position: fixed;
  z-index: 99;
  bottom: 16px;
  right: 16px;
  width: 320px;

  .notification-sheet-item {
    position: relative;
    width: 100%;
    padding: 16px;
    margin-bottom: 8px;
    background-color: #222;
    color: white;
    border-radius: 3px;
    .progress {
      position: absolute;
      bottom: 0;
      height: 8px;
      background-color: $light-blue;
      left: 0;
      right: 100%;
    }
  }
}