// Colors
$background-color: #fafafa;
$light-gray: #999999;
$very-light-gray: #efefef;
$omg-very-light-gray: #dbdbdb;
$light-blue: #3897f0;
$dark-blue: #003569;
$dark-red: #ed4956;
$light-red: #FFBABA;

// Sizes
$max-container-width: 935px;